ion-item{
    --background:transparent;
}

ion-grid{
    --background:transparent;
    ion-row{
        margin: auto;
    }
}


.small{
   width: 300px;
}

.big{
   width: 500px;
}


.body{
    height: 100%;
    background-image: url('https://cdn.discordapp.com/attachments/985637528029761589/1077618526132641864/1215771.png');
    background-repeat: no-repeat;
    background-size: cover;
}