<ion-content>
  <ion-item tappable (click)="profile()">
    <ion-icon name="{{icon.profile}}" slot="start"></ion-icon>
    <ion-label slot="">Profile</ion-label>
  </ion-item>
  <ion-item tappable (click)="settings()">
    <ion-icon name="{{icon.settings}}" slot="start"></ion-icon>
    <ion-label slot="">Settings</ion-label>
  </ion-item>
  <ion-item tappable (click)="theme()">
    <ion-icon name="{{icon.theme}}" slot="start"></ion-icon>
    <ion-label slot="">Theme</ion-label>
  </ion-item>
  <ion-item tappable (click)="logout()">
    <ion-icon name="{{icon.logout}}" slot="start"></ion-icon>
    <ion-label slot="">Logout</ion-label>
  </ion-item>
</ion-content>