.header {
    ion-avatar {
        --size: 50px;
        --border-radius: 50%;
        --border-width: 2px;
        --border-style: solid;
        --border-color: #fff;
        --background: #fff;
        --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        margin-right: 25px;
    }

    button {
        margin-left: 2.5%;
        width: 100px;
        height: 35px;
        background: transparent;
        border-radius: 25px;
        color: white;
        border: 1px solid blue;
        font-size: 15px;
        font-weight: 400;
        &:hover {
            background: #0000ff;
        }
    }

    ion-title{
        font-size: 18px;
    }
}