<ion-header class="header">
  <ion-toolbar>
    <ion-menu-button id="menu" slot="start"></ion-menu-button>
    <ion-buttons slot="start" class="page-buttons">
      <button routerLink="/shelves">Shelves</button>
      <button routerLink="/users">Users</button>
      <button routerLink="/settings">Settings</button>
    </ion-buttons>
    <ion-title slot="">Shelves </ion-title>
    <ion-avatar tappable slot="end" (click)="presentPopover($event)">
      <img src="../../../assets/imgs/profile.jpg">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="--ion-grid-columns:12">
      <ion-col sizeXs="12" sizeSm="6" sizeMd="6" sizeLg="3" sizeXl="3">
        <ion-card>
          <ion-card-content>
            <ion-icon size="large" slot="start" name="bookmarks"></ion-icon>
            <h1>Shelves</h1>
            <p id="total_shelves"></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="6" sizeLg="3" sizeXl="3">
        <ion-card>
          <ion-card-content>
            <ion-icon size="large" slot="start" name="cube"></ion-icon>
            <h1>Item Quantity</h1>
            <p id="total_quantity"></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="6" sizeLg="3" sizeXl="3">
        <ion-card>
          <ion-card-content>
            <ion-icon size="large" slot="start" name="People"></ion-icon>
            <h1>Total Users</h1>
            <p id="total_user"></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="6" sizeLg="3" sizeXl="3">
        <ion-card>
          <ion-card-content>
            <ion-icon size="large" slot="start" name="newspaper"></ion-icon>
            <h1>Random Quote</h1>
            <p>nothing</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeXs="12" sizeSm="12" sizeMd="7.5" sizeLg="7.5" sizeXl="7.5">
        <ion-card class="table">
          <ion-card-header>
            <ion-toolbar style="margin-bottom:2%;">
              <ion-card-title slot="">Shelves</ion-card-title>
              <ion-item tappable slot="end" (click)="show_modal(null,'add')"
                style="padding: 0; margin: 0; --background: transparent; --border-color:transparent;">
                <ion-icon slot='start' style="margin:0;" slot="end" name="add"></ion-icon>
                <ion-label slot="end">Add</ion-label>
              </ion-item>
            </ion-toolbar>
            <ion-toolbar>
              <ion-searchbar slot="start" placeholder="Search" (search)="search_shelf($event)"></ion-searchbar>
              <ion-icon style="margin-top:9px;" slot="end" name="filter"></ion-icon>
              <ion-select slot="end" interface="popover" placeholder="Filter" [ngModel]="'all'"
                (ngModelChange)="on_change($event)">
                <ion-select-option *ngFor="let item of filter" [value]="item.type">{{ item.name }}</ion-select-option>
              </ion-select>
            </ion-toolbar>
          </ion-card-header>
          <div id="table" class="table_">
            <table>
              <thead>
                <th>Name</th>
                <th>Ingredients</th>
                <th>Quantity</th>
                <th>Number</th>
              </thead>
              <tbody>
                <tr *ngFor="let shelf of shelves" tappable (click)="show_modal(shelf,'up')">
                  <td>{{ shelf.name }}</td>
                  <td>{{ shelf.ingredients }}</td>
                  <td>{{ shelf.quantity }}</td>
                  <td>{{ shelf.number }}</td>
                </tr>
              </tbody>
            </table>
            <ion-progress-bar *ngIf="!loaded" buffer="1" type="indeterminate"></ion-progress-bar>
          </div>
          <div id="not-found" class="transparent" style="text-align: center;">
            <ion-label style="color:'red';">No shelf found</ion-label>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeXs="12" sizeSm="12" sizeMd="4.5" sizeLg="4.5" sizeXl="4.5">
        <ion-card class="notif_card">
          <ion-card-header>
            <ion-card-title color="dark">Notifications</ion-card-title>
          </ion-card-header>
          <div class="notif" *ngIf="notifications.length > 0">
            <ion-chip *ngFor="let item of notifications" color="{{item.color}}" tappable (click)="show_modal(item.shelf,item.type)">
              <ion-item lines="none">
                <ion-icon slot="start" [name]="item.icon" color="{{item.color}}"></ion-icon>
                <ion-label>{{item.message}}</ion-label>
              </ion-item>
            </ion-chip>
          </div>
          <ion-card-content class="notif" *ngIf="notifications.length == 0">
            <ion-chip color="warning">
              <ion-item lines="none">
                <ion-spinner slot="start"></ion-spinner>
                <ion-label slot="">Shelves Loading...</ion-label>
              </ion-item>
            </ion-chip>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-menu></app-menu>